<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      Choose your Say No To Group
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-vertical-align-content">
  <ion-searchbar></ion-searchbar>

  <ion-grid>
    <ion-col>
      Say no to Nework city
    </ion-col>
    <ion-col>
      Say no to Nework city
    </ion-col>
    <ion-col>
      Say no to Nework city
    </ion-col>
    <ion-col>
      Say no to Nework city
    </ion-col>
    <ion-col>
      Say no to Nework city
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      Say no to Nework city
    </ion-col>
  </ion-grid>
</ion-content>
