<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <!-- <img src="assets/images/home.png" alt="your image"> -->
            <ion-img src="assets/images/home.png"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img src="assets/images/home.png"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img src="assets/images/home.png"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <form #loginForm="ngForm" novalidate>
    <ion-row responsive-sm>
      <ion-col>
        <ion-button expand="block" color="light" (click)="signInWithGoogle()">
          <ion-icon name="custom-google" class="custom-google"></ion-icon>
          Google Login
        </ion-button>
        
        <!-- <button ion-button (click)="signInWithGoogle()" color="light" block>
          Login with Google
        </button> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
