<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col text-center>
        <ion-chip>
          <ion-label> Hey, Let us know about your Neor</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-label>Select type of neor</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <ion-label>Antie's</ion-label>
      </ion-col>
      <ion-col text-center>
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <ion-label>Rejection</ion-label>
      </ion-col>
      <ion-col text-center>
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <ion-label>Hater</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-label>Choose your City</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-select
          placeholder="Select Your City"
          okText="Okay"
          cancelText="Dismiss"
        >
          <ion-select-option value="india">India</ion-select-option>
          <ion-select-option value="usa">USA</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
